body
{
  display: flex;
  justify-content: center;
}

.container
{
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  background-color: #eea4bb;
  height: 500px;
  width: 250px;
  margin-top: 15%;
}

.display
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 40%;
}

.num
{
  color: white;
  font-size: 50px;
  font-family: roboto;
  font-weight: 200;
  margin-right: 10px;
  margin-bottom: 1px;
}

.clear
{
  border-radius: 15px;
  border-style: none;
  background: #ffc0cb;
  color: white;
}

.buttons
{
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 60%;
}

.operator
{
  font-size: 25px;
  color: white;
  border-style: none;
  border-radius: 15px;
  background-color: #d11799;
}

.digit
{
  font-size: 25px;
  color: white;
  border-style: none;
  border-radius: 15px;
  background-color: #5c3641;
}

.digit:hover
{
  color: red;
  background-color: pink;
}

.row
{
  display: flex;
  height: 20%;
  justify-content: space-around;
}

.row button
{
  box-shadow: 5px 4px 3px 0.02px #2a2022;
  flex: 1;
  margin: 3.5px;
}

/* Clear Button */
.row-1 .clear
{
  flex: 3.3;
}

/* Zero Button */
.row-5 .digit
{
  flex: 3.3;
}


